/* Message box BEGIN */
.sttf-url-msg-box{
    background:rgba(0,0,0,.4);
    cursor:pointer;
    display:none;
    height:100%;
    position:fixed;
    text-align:center;
    top:0;
    width:100%;
    z-index:10000;
}
.sttf-url-msg-box .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}
.sttf-url-msg-box > div {
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 500px;
    min-height: 100px;
    vertical-align: middle;
    width: 60%;
    position: relative;
    border-radius: 8px;
    padding: 15px 5%;
}
.sttf-url-msg-box > div > p {
    margin-top: 25px;
}
/* Message box BEGIN */